<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">The Internship Hub</a>

        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/company">Homepage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Applications</a>
                </li>
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="navbarDropdown"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                        My Account
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="#">My Account</a>
                        </li>
                        <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="d-flex align-items-center m-5">
    <input type="text" class="form-control w-25 me-3" placeholder="Search..." />

    <select class="form-select w-25 me-3" aria-label="Filter by Type">
        <option value="">Filter</option>
        <option value="Type1">opt 1</option>
        <option value="Type2">opt 2</option>
    </select>

    <button
        type="button"
        class="btn btn-dark"
        (click)="navigateToAddInternship()">
        <i class="bi bi-plus"></i>
    </button>
</div>

<div class="row m-4">
    <div class="col-md-4 d-flex" *ngFor="let internship of internships">
        <div class="card mb-4 flex-fill">
            <div class="card-body d-flex flex-column h-100">
                <h5
                    class="card-title d-flex justify-content-between align-items-center">
                    <strong class="mt-4">{{ internship.title }}</strong>

                    <div class="d-flex position-absolute top-0 end-0 m-2">
                        <button class="btn btn-transparent p-1">
                            <i class="bi bi-pencil"></i>
                        </button>

                        <button
                            class="btn btn-transparent p-1"
                            (click)="deleteInternship(internship)">
                            &times;
                        </button>
                    </div>
                </h5>

                <p class="card-text ps-4 mb-0">
                    <strong><i class="bi bi-dot"></i>Description:</strong>
                    {{ internship.description }}<br />
                    <strong><i class="bi bi-dot"></i>Compensation:</strong>
                    {{ internship.compensation }}<br />
                    <strong
                        ><i class="bi bi-dot"></i>Positions available:</strong
                    >
                    {{ internship.positionsAvailable }}<br />
                    <strong><i class="bi bi-dot"></i>Start date:</strong>
                    {{ internship.startDate | date : 'yyyy-MM-dd' }}<br />
                    <strong><i class="bi bi-dot"></i>End date:</strong>
                    {{ internship.endDate | date : 'yyyy-MM-dd' }} <br />
                    <strong> <i class="bi bi-dot"></i> Deleted: </strong>
                    <span
                        [ngClass]="{
                            'text-danger': internship.isDeleted,
                            'text-dark': !internship.isDeleted
                        }">
                        {{ internship.isDeleted }}
                    </span>
                </p>

                <div class="mt-auto"></div>
            </div>
        </div>
    </div>
</div>
