<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 w-25">
        <h2 class="text-center mb-4">Login</h2>
        <form class="text-font" #loginForm="ngForm">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input
                    type="email"
                    class="form-control"
                    id="email"
                    placeholder="Email"
                    [(ngModel)]="email"
                    name="email"
                    required
                    email
                    #emailField="ngModel" />
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <div class="input-group">
                    <input
                        type="{{ hidePassword ? 'password' : 'text' }}"
                        class="form-control"
                        id="password"
                        placeholder="Password"
                        [(ngModel)]="password"
                        name="password"
                        required
                        minlength="6"
                        #passwordField="ngModel" />
                    <button
                        class="btn btn-outline-secondary"
                        type="button"
                        (click)="togglePasswordVisibility()">
                        <i
                            class="bi bi-eye{{
                                hidePassword ? '-slash' : ''
                            }}"></i>
                    </button>
                </div>
            </div>

            <div class="text-center mt-3">
                <button
                    type="button"
                    class="btn btn-primary w-100"
                    data-bs-toggle="button"
                    (click)="login()">
                    Login
                </button>
            </div>

            <div class="text-center mt-3">
                <a href="/register" class="link-dark link-opacity-50-hover"
                    >New to the app?</a
                >
            </div>
        </form>
    </div>
</div>
