<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">The Internship Hub</a>

        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/homepage">Homepage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/applications">Applications</a>
                </li>
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="navbarDropdown"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                        My Account
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="/myaccount"
                                >My Account</a
                            >
                        </li>
                        <li>
                            <a class="dropdown-item" (click)="logout()"
                                >Logout</a
                            >
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<h2 class="text-center mt-5 mb-0">Your applications</h2>

<div class="d-flex justify-content-center m-5">
    <table class="table table-striped w-75">
        <thead>
            <tr>
                <th scope="col">Internship Title</th>
                <th scope="col">Applied Date</th>
                <th scope="col">Compensation</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let application of applications; let i = index">
                <td>{{ application.internship.title }}</td>
                <td>
                    {{ application.appliedDate | date : 'YYYY-MM-dd HH:mm' }}
                </td>
                <td>
                    {{ application.internship.compensation }}
                </td>
                <td>
                    {{ application.status }}
                </td>

                <td class="text-center">
                    <button
                        *ngIf="application.status === 'Accepted'"
                        class="btn btn-primary me-2"
                        (click)="confirmAcceptance(application)">
                        Confirm
                    </button>

                    <button
                        *ngIf="application.status === 'Accepted'"
                        class="btn btn-primary"
                        (click)="declineAcceptance(application)">
                        Refuse
                    </button>
                    <div
                        class="file-upload mt-2"
                        *ngIf="
                            application.status === 'Confirmed' &&
                            application.universityDocsFilePath === ''
                        ">
                        <div class="file-upload mb-0 text-center">
                            <label for="fileInput" class="btn btn-primary w-75"
                                >Upload documents
                                <input
                                    id="fileInput"
                                    type="file"
                                    (change)="
                                        onFileSelected($event, application)
                                    "
                                    class="d-none" />
                            </label>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
