<main
    class="main text-font d-flex flex-column align-items-center justify-content-center"
    style="margin: 0; padding: 0">
    <div class="w-100 d-flex align-items-center justify-content-start px-3">
        <button
            type="button"
            class="btn btn-link text-dark"
            (click)="navigateBack()">
            <i class="bi bi-arrow-left fs-3 me-2"></i>
        </button>
    </div>

    <div class="container w-50 mt-3">
        <div class="row text-left">
            <div class="col-md-6 border-end">
                <img
                    [src]="internship.company.cO_LOGO_PATH"
                    alt="Company Logo"
                    class="ms-3"
                    style="
                        height: 40px;
                        width: auto;
                        filter: grayscale(1) brightness(0);
                    " />

                <br />
                <h2 class="mt-4">{{ internship.title }}</h2>

                <p class="mt-1"><strong>Description</strong></p>
                <textarea rows="20" class="w-100">{{
                    internship.description
                }}</textarea>
            </div>
            <div class="col-md-6 ml-3">
                <p class="mb-3">
                    <i class="bi bi-geo-alt"></i>
                    {{ internship.company.cO_CITY }}
                </p>
                <p class="mb-3">
                    <i class="bi bi-calendar"></i>
                    <strong> Start date:</strong>
                    {{ internship.startDate | date : 'yyyy-MM-dd' }}
                </p>
                <p class="mb-3">
                    <i class="bi bi-calendar"></i> <strong> End date:</strong>
                    {{ internship.endDate | date : 'yyyy-MM-dd' }}
                </p>
                <p class="mb-3">
                    <i class="bi bi-person"></i>
                    <strong> Positions available:</strong>
                    {{ internship.positionsAvailable }}
                </p>

                <p class="mb-3">
                    <i class="bi bi-currency-dollar"></i>
                    <strong> Compensation:</strong>
                    {{ internship.compensation }}
                </p>

                <p class="mb-3">
                    <i class="bi bi-person"></i>
                    <strong> Recruiter contact:</strong>
                    {{ internship.recruiter.email }}
                </p>

                <p class="mb-5">
                    <i class="bi bi-calendar"></i>
                    <strong> Deadline for application:</strong>
                    {{ internship.deadline | date : 'yyyy-MM-dd' }}
                </p>

                <div class="file-upload mt-2">
                    <div class="file-upload mb-0 text-center">
                        <label for="fileInput" class="btn btn-primary w-50">
                            Upload CV
                            <input
                                id="fileInput"
                                type="file"
                                (change)="onFileSelected($event)"
                                class="d-none" />
                        </label>
                    </div>
                </div>

                <div class="text-center mt-1">
                    <button
                        type="button"
                        class="btn btn-primary w-50"
                        (click)="onUpload()"
                        [disabled]="!selectedFile">
                        Apply
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>
